html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #F2F6FC;
    font-family: 'Crimson Text';
    display: flex;
    flex-direction: column;
}

#navbar {
    background: none;
    max-height: 50px;
    font-size: 36px;
    padding: 20px 75px;
}

.navbar-brand {
    font-size: 36px !important;
    line-height: 1 !important;
    padding: 0 !important;
}

#navbar-items .nav-item {
    margin-left: 75px; 
}

#content-wrapper {
    flex: 1;                  
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-container {
    width: calc(100% - 150px);
    height: calc(100% - 150px);
    margin: 75px;
}

#info-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: calc(100% - 150px);
    height: calc(100% - 150px);
    padding: 40px;

    border: 2px solid #d1d1d1;
    border-radius: 25px;
    background-color: #F2F6FC;

    box-sizing: border-box;
}

.left-drawing img {
    height: 300px; 
    margin-right: 30px;
}

.divider {
    width: 2px;
    height: 75%;
    background-color: #7a7a7a;
    margin-right: 30px;
}

.text-content {
    max-width: 70%;
    text-align: left;
}

.text-content h4 {
    margin-bottom: 10px;
    font-size: 5rem;
    font-weight: 700;
}

.text-content ul {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin-left: 0;
}

.text-content > ul > li{
  margin-left: 20px;
  font-weight: normal;
}

.text-content p {
    font-size: xx-large;
}

#faq-wrapper {
    width: 70%;
    margin: 3rem auto;
}

.question {
    border: 1px solid #000;
    padding: 10px 30px;
    margin: 15px 0;
    margin-top: 10px;
    margin-left: 20px; 
    list-style-position: inside;
    cursor: pointer;
    font-weight: 700;
    font-size: 2rem;

}

.question > ul > li {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: justify;
}